# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# kate
*.kate-swp

# native
native-override/linux-aarch64/

# other
eclipse
run
